.chatlist {
	box-sizing: border-box;
	height: 738px;
	padding: 0 25px;
	border: 1px solid #1b3a5933;
	overflow: scroll;

	p {
		font-size: 11px;
		letter-spacing: 1.54px;
		margin: 12px 0 6px 0;
		cursor: pointer;
	}
}

.chat {
	@include flex(row, center, flex-start);
	height: 24px;
	margin: 12px 0;

	p {
		cursor: pointer;
		font-size: 14px;
		letter-spacing: 0px;
		margin: 0 0 0 8px;
		&:hover {
			font-weight: 700;
		}

		img {
			cursor: pointer;
			margin-left: auto;
			width: 15px;
			transform: rotate(180deg);
		}
	}

	&_children {
		padding-left: 25px;
	}
}
