.chatlist {
	box-sizing: border-box;
	height: 738px;
	padding: 0 25px;
	border: 1px solid #1b3a5933;
	overflow: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	p {
		font: normal normal normal 11px/14px Inter;
		letter-spacing: 1.54px;
		margin: 12px 0 6px 0;
	}
}

.chat {
	@include flex(row, center, flex-start);
	margin: 12px 0;
	p {
		font: normal normal normal 14px/24px Inter;
		margin: 0 0 0 8px;
		&:hover {
			font-weight: 700;
		}
		cursor: pointer;
	}

	&_children {
		padding-left: 25px;
	}
}

.dropdown {
	margin-left: auto;
	width: 15px;
	transform: rotate(180deg);
	cursor: pointer;
}
