.header {
	@include flex(row, center, flex-start);
	box-sizing: border-box;
	padding: 0 30px;
	height: 78px;
	border: 1px solid #1b3a5933;
}

.tools {
	@include flex(row, center, space-between);
	width: 80px;
	margin-left: auto;
	opacity: 0.25;
}
