.header {
	@include flex(row, center, flex-start);
	box-sizing: border-box;
	padding: 0 28px;
	height: 78px;
	border: 1px solid #1b3a5933;
	border-left: none;
	border-bottom: none;
}

.tools {
	@include flex(row, center, space-between);
	width: 78px;
	margin-left: auto;
	opacity: 0.25;

	img {
		width: 25px;
	}
}
