header {
	@include flex(row, center, flex-start);
	background-color: $primary_dark_blue;
	height: 70px;
	padding: 0 30px;
}

.logo {
	@include flex(row, center, space-between);
	width: 120px;
	font-size: 28px;
	line-height: 34px;
	color: white;
}

nav {
	margin-left: 42px;
	a {
		color: #ffffff;
		text-decoration: none;
		padding: 25px 20px;
		font-weight: 500;
		&:hover,
		&.active {
			background-color: #ffffff1a;
			transition: all ease-in-out 100ms;
		}
	}
}

.notifications {
	@include flex(row, center, space-between);
	width: 100px;
	margin-left: auto;
	margin-right: 30px;

	div {
		position: relative;
		height: 32px;

		img {
			width: 32px;
		}

		p {
			@include flex(row, center, center);
			height: 21px;
			width: 21px;
			position: absolute;
			top: -7.5px;
			right: -15px;
			background-color: $primary_red;
			border: 2px solid $primary_dark_blue;
			border-radius: 50%;
			font-size: 10px;
			color: white;
		}
	}
}

.userinfo {
	@include flex(column, flex-start, space-around);
	height: 40px;
	margin: 0 10px;
}

.username {
	font-size: 14px;
	font-weight: 600;
	color: white;
}

.company {
	font-size: 12px;
	color: white;
	opacity: 0.8;
}
