.searchbar {
	@include flex(row, center, flex-start);
	box-sizing: border-box;
	height: 60px;
	border: 1px solid #1b3a5933;
	padding: 0 25px;

	input {
		width: 210px;
		height: 20px;
		border: none;
		outline: none;
	}
}

.icons {
	@include flex(row, center, flex-end);
	width: 90px;
	.edit {
		opacity: 0.16;
		margin-left: 20px;
		width: 17px;
	}
	.search {
		margin-left: 20px;
		width: 17px;
	}
	.clear {
		cursor: pointer;
	}
}
