.searchbar {
	@include flex(row, center, space-between);
	box-sizing: border-box;
	width: 350px;
	height: 60px;
	border: 1px solid #1b3a5933;
	padding: 0 25px;

	div {
		@include flex(row, center, flex-end);
	}
	img {
		margin: 0 10px;
		cursor: pointer;
	}
}
