@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

//MIXINS

@mixin flex($flex, $direction) {
	display: $flex;
	flex-direction: $direction;
}

@mixin icon($height, $width, $url) {
	height: $height;
	width: $width;
	background-image: $url;
}

//------------//

//FUNCTIONS

$primary_blue: #007af4;
$primary_dark_blue: #1b3a59;
$primary_light: #f5f9fc;
$primary_red: #d61a1a;

//------------//

* {
	margin: 0;
	padding: 0;
}

html {
	height: 869px;
	width: 1440px;
	font-family: Inter;
}

//HEADER

header {
	@include flex(flex, row);
	height: 70px;
	background-color: $primary_dark_blue;
}

//LOGO

.logo {
	@include flex(flex, row);
	align-items: center;
	margin-left: 30px;
	margin-right: 42px;
}

.logo_icon {
	@include icon(32px, 32px, url("./icons/logo.svg"));
	background-position: center;
	background-size: 105% 130%;
}

.logo_name {
	font: normal normal normal 28px/34px Inter;
	text-decoration: none;
	color: #ffffff;
	padding-left: 10px;
}

//NAV

nav {
	display: flex;

	a {
		color: #ffffff;
		text-decoration: none;
		margin: 24px 20px;
		font-weight: 500;
	}
}

//MESSAGE AND NOTIFICATION ICONS

.message_icon {
	@include icon(25px, 26px, url("./icons/message.svg"));
	margin: 25px 19px;
	position: relative;
}

.notification_icon {
	@include icon(24px, 24px, url("./icons/notification.svg"));
	margin: 25px 0;
	position: relative;
}

.notification_circle {
	height: 17px;
	width: 17px;
	background-color: $primary_red;
	border-radius: 50%;
	border-color: $primary_dark_blue;
	border-style: solid;
	border-width: 2px;
	color: white;
	text-align: center;
	font-size: 10px;
	position: absolute;
	display: flex;
	justify-content: center;
	top: 20px;
	left: 562px;

	p {
		align-self: center;
	}
}

.notification_circle.bell {
	left: 600px;
}
